*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

input,
button,
select,
textarea {
    font: inherit;
}

img,
picture {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.music {
    max-width: 500px;
    margin: 0 auto;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 24px 16px 0;
}

.music-thumb {
    width: 130px;
    height: 130px;
    margin: 0 auto 8px;
}

.music-thumb.is-playing {
    animation: spinner 5s infinite linear;
}

.music-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}

.music-name {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
}

.timer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 36px;
}

.play {
    position: relative;
}

.play::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to right bottom, #ff6bcb, #ffb86c);
    transform: scale(1.5);
    border-radius: 100px;
}

.play-inner {
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-size: 20px;
    position: relative;
}

.play-random,
.play-repeat,
.play-back,
.play-forward {
    cursor: pointer;
    font-size: 24px;
}

.range {
    -webkit-appearance: none;
    background-color: transparent;
    width: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    outline: none;
}

.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background-color: #eee;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #20e3b2;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    box-shadow: 0 0 0 3px #fff, 0 0 0 6px rgba(149, 157, 165, 0.05);
    margin-top: -5px;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.music-playlists {
    padding: 0 12px;
    margin: 40px -16px;
    background-color: #e4e3e4;
    height: 240px;
    overflow-y: auto;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.music-playlists::-webkit-scrollbar {
    display: none;
}

.song {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    margin: 8px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
}

.song.active {
    background-color: #ff6bcb;
    color: #fff;
}

.song-thumb {
    width: 35px;
    height: 35px;
}

.song-name {
    font-size: 13px;
}

.song-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
}